*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Colours */
  --clr-dark: #85586f;
  --clr-accent: #d0b8a8;
  --clr-med: #dfd3c3;
  --clr-light: #f8ede3;

  /* Fonts */
  --ff-primary: "Merriweather Sans", sans-serif;
  --ff-secondary: "Rubik", sans-serif;

  /* Font sizes */
  --fs-small: 1rem;
  --fs-med: 1.1rem;
  --fs-lrg: 1.2rem;
}

body,
* {
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-small);
}

header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-dark);
  color: #fff;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  gap: 20px;
}

.nav-item {
  list-style: none;
}

a,
.nav-link {
  text-decoration: none;
  padding: 5px;
  color: #fff;
}

.nav-link:hover,
.nav-link:focus {
  outline: 1px solid #fff;
  border-radius: 5px;
}

.header-image {
  text-align: center;
  background-color: var(--clr-dark);
  position: relative;
}

.about-me-image {
  width: 90%;
  height: auto;
  padding-bottom: 10px;
  filter: brightness(80%);
}

.image-text {
  text-align: left;
  position: absolute;
  bottom: 4%;
  left: 7%;
  color: #fff;
}

h1 {
  padding: 7px 0;
  font-size: 2.5rem;
  font-family: var(--ff-secondary);
}

h2 {
  font-size: var(--fs-lrg);
}

.about-me-text {
  padding: 10px;
  background-color: var(--clr-light);
}

.about-me-text p {
  padding: 10px 0;
}

.my-work {
  background-color: var(--clr-accent);
  padding: 15px;
}

.portfolio-item {
  background-color: var(--clr-light);
  margin-top: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.portfolio-item-image {
  width: 100%;
  height: auto;
}

.portfolio-item-text {
  padding: 10px;
}

.portfolio-item-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  align-items: center;
}

p {
  text-align: justify;
}

.icon {
  height: 25px;
  width: auto;
}

.icon:hover,
.icon:focus {
  outline: 1px solid #000;
  border-radius: 5px;
}

footer {
  background-color: var(--clr-dark);
  padding: 10px;
  color: #fff;
}

.contact-header {
  padding-bottom: 15px;
}

.contact-image {
  text-align: center;
}

.footer-image {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-nav {
  padding: 10px 0;
}

.nav-icon {
  height: 35px;
  width: auto;
  filter: invert(1);
}

.nav-icon:hover,
.nav-icon:focus {
  outline: 1px solid #000;
  border-radius: 5px;
}

@media (min-width: 550px) {
  header {
    padding: 20px;
  }
}

@media (min-width: 1000px) {
  header {
    padding: 20px 250px;
  }
}

@media (min-width: 1200px) {
  header {
    padding: 20px 300px;
  }
}

@media (min-width: 550px) {
  .about-me {
    display: flex;
    background-color: var(--clr-dark);
    padding: 20px;
  }

  .about-me-text {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .header-image {
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .about-me-image {
    height: 100%;
    width: auto;
    padding-bottom: 0;
  }
}

@media (min-width: 1000px) {
  .about-me {
    align-items: center;
    padding: 20px 250px;
  }
}

@media (min-width: 1200px) {
  .about-me {
    padding: 20px 300px;
  }
}

@media (min-width: 550px) {
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    padding-bottom: 20px;
  }

  .portfolio-item {
    width: 47%;
  }
}

@media (min-width: 1000px) {
  .my-work {
    padding: 20px 250px;
  }
}

@media (min-width: 1200px) {
  .my-work {
    padding: 20px 300px;
  }
}

@media (min-width: 550px) {
  footer,
  footer p {
    text-align: center;
  }

  .footer-image {
    height: 500px;
    width: auto;
  }
}

@media (min-width: 1000px) {
  footer {
    padding: 20px 250px;
  }
}

@media (min-width: 1200px) {
  footer {
    padding: 20px 300px;
  }
}
